/* @font-face {
    font-family: 'Outfit';
    src: url('../font/Outfit-Medium.eot');
    src: url('../font/Outfit-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Outfit-Medium.woff2') format('woff2'),
        url('../font/Outfit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../font/Outfit-Regular.eot');
    src: url('../font/Outfit-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Outfit-Regular.woff2') format('woff2'),
        url('../font/Outfit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../font/Outfit-SemiBold.eot');
    src: url('../font/Outfit-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Outfit-SemiBold.woff2') format('woff2'),
        url('../font/Outfit-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    src: url('../font/DMSans-Regular.eot');
    src: url('../font/DMSans-Regular.ttf') format('embedded-opentype'),
        url('../font/DMSans-Regular.woff2') format('woff2'),
        url('../font/DMSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body, button{
    font-family: Outfit;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

#wrap{
    width: 100%;
    height: auto;
}

.bgr_img_header{
    width: 100%;
    height: 500px;
    background-image: url(../img/image/section_1/hero_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.w_all_container{
    max-width: 1170px;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

#header{
    width: 100%;
    height: 500px;
    position: relative;
}
.header_container{
    display: flex;
    height: 48px;
    padding: 16px 0;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lg_header{
    height: 48px;
    text-decoration: none;
}

.lg_header img{
    width: 100%;
    height: 48px;
}

.menu_header{
    display: flex;
}

#toggle,#toggle ul{
    display: none;
}
.none_menu_hd{
    display: none;
}
.menu_fl{
    width: 100%;
    display: flex;
    align-items: center;
}

.menu_header ul li{
    font-family: 'Outfit';
    font-weight: 500;
    padding: 14px 15px;
    font-size: 15px;
    letter-spacing: -0.3px;
    position: relative;
}

.menu_fl li a{
    text-decoration: none;
    display: block;
    color: #7B88A8;
}

.menu_fl li a:hover{
    color: #2D3958;
}
.menu_item.active a{
    color: #2D3958;
}
.menu_item.active::after{
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: #34C635;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
}


.icon_menu_header{
    display: flex;
}

.icon_menu_header{
    width: 20%;
}

.img_icon_search img{
    width: 24px;
    padding: 12px 15px;
    cursor: pointer;
}

.search_pc{
    display: none;
}




.ip_search_pc{
    position: absolute;
    right: 636px;
    top: 120px;
    display: block;
    z-index: 1;
    right: calc(50% - 270px);
}

.search_pc input{
    width: 550px;
    height: 30px;
    padding: 5px 12px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid;
    border-radius: 4px;
    font-size: 18px;
    outline: none;
    background: #2D3958;
    color: #fff;
}

.search_pc input::placeholder{
    color: #c6c5c9;
}

.fa-search-pc{
    position: absolute;
    left: 540px;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
    border-left: 1px solid #fff;
    background-color: #2D3958;
    top: 1px;
}

.img_icon_gh img{
    width: 24px;
    padding: 12px 15px;
    cursor: pointer;
}

.car_pc{
    width: 200px;
    height: auto;
    position: absolute;
    left: -6px;
    background-color: #292F3A;
    display: none;
}

.car_pc p{
    padding: 10px 20px;
    color: #fff;
}

.sgu_header_button{
    padding: 22px;
}

.sigup_nut{
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 14px;
    background-color: #4F77FF;
    color: #fff;
    border-radius: 5px;
    letter-spacing: -0.3px;
    cursor: pointer;
    padding: 12px 38px;
    text-transform: uppercase;
}

.sgu_header .sigup_nut:hover{
    background-color: #2c5cfa;
}

.txt_header{
    max-width: 870px;
    margin: auto;
    height: 94px;
    text-align: center;
    padding-top: 132px;
}


.txt_header h1{
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 48px;
    color: #2D3958;
    letter-spacing: -2px;
}

.breadcrumbs{
    margin-top: 9px;
    width: 100%;
    font-size: 0;
    font-family: 'Outfit';
    font-weight: 500;
}

.breadcrumbs .breadcrumb_item{
    display: inline-block;
    position: relative;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    color: #7B88A8;
    text-transform: uppercase;
    letter-spacing: -0.3px;
}

.breadcrumbs .breadcrumb_item+.breadcrumb_item{
    margin-left: 16px;
}

.breadcrumbs .breadcrumb_item+.breadcrumb_item::before{
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    content: '/';
}

.breadcrumbs .breadcrumb_item .breadcrumb_link{
    color: #2D3958;
} */


/* .breadcrumbs li a::before{
    content: "/ ";
} */



/* .txt_header p{
    font-family: 'Outfit';
    font-weight: 500;
    height: 18px;
    font-size: 15px;
    padding-top: 16px;
    letter-spacing: -0.3px;
}

.txt_header p a{
    font-family: 'Outfit';
    font-weight: 500;
    font-weight: bold;
    text-decoration: none;
    color: #2D3958;
    cursor: pointer;
}

.txt_header p span{
    font-family: 'Outfit';
    font-weight: 500;
    color: #7B88A8;
}

.txt_header p span{
    color: #7B88A8;
} */

/* .text_body{
    width: 100%;
    height: 80px;
    margin-top: 120px;
    text-align: center;
    animation: animation 1s forwards;
    animation-delay: 1s;
}

.text_body h2{
    max-width: 970px;
    margin: auto;
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 64px;
    color: #2D3958;
    letter-spacing: -2px;
}

.product_container{
    max-width: 100%;
    padding: 0 22px;
    margin-top: 80px;
} */

/* .imgs_bd_product{
    width: 100%;
    display: flex;
}

.col_md3{
    padding: 0 10px;
}

.col_md3 .img1_col_md3 img{
    width: 100%;
    height: 100%;
    padding: 10px 0px;
}

.col_md3 .img2_col_md3 img{
    width: 100%;
    height: 50%;
    padding: 10px 0px;
}

.col_md4{
    padding: 0 10px;
}

.col_md4 .img1_col_md4 img{
    width: 100%;
    height: 50%;
    padding: 10px 0px;
}

.col_md4 .img2_col_md4 img{
    width: 100%;
    height: 100%;
    padding: 10px 0px;
}

.col_md5{
    padding: 0 10px;
}

.col_md5 .img1_col_md5 img{
    width: 100%;
    height: 100%;
    padding: 10px 0px;
}

.col_md5 .img2_col_md5 img{
    width: 100%;
    height: 50%;
    padding: 10px 0px;
} */

/* .btn_ld_submit{
    max-width: 148px;
    height: 56px;
    margin: auto;
    text-align: center;
    margin-top: 60px;
} */

/* .btn_ld_submit a{
    font-family: 'Outfit';
    font-weight: 500;
    background-color: #E7E5EA;
    color: #7B88A8;
    line-height: 56px;
    font-size: 15px;
    padding: 18px 32px;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: -0.3px;
    cursor: pointer;
} */

/* .btn_ld_submit a:hover{
    background-color: rgb(223, 218, 218);
    color: #000;
} */

/* .txt_sl_all{
    max-width: 100%;
    height: 781px;
    background-color: #F8FAFC;
}

.item_bd_product_all{
    max-width: 870px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

.item_bd_product_all h2{
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 48px;
    color: #2D3958;
    letter-spacing: -2px;
}

.item_bd_product_all p{
    font-family: 'Outfit';
    font-weight: 400;
    color: #7B88A8;
    font-size: 22px;
    padding-top: 30px;
    letter-spacing: -1px;
} */

/* .slide_ac_all{
    max-width: 100%;
}

.slider_ac_container{
    max-width: 1170px;
    justify-items: center;
    margin: 0 auto;
}

.slide_fxsc{
    display: flex;
    margin-top: 80px;
}

.item_acoutn{
    width: 33.3%;
    text-align: center;
    margin-left: 30px;
}

.item_acoutn:nth-child(1) {
   margin: 0;
}

.item_acoutn img{
    width: 30%;
    border-radius: 70px;
}

.item_ac_pd{
    padding: 45px 35px;
    background: #fff;
    box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
    border-radius: 20px;
}

.item_ac_pd h3{
    font-family: 'Outfit';
    font-weight: 400;
    text-align: center;
    font-size: 22px;
    color: #2D3958;
    letter-spacing: -1px;
}

.item_ac_pd p.tx_bran{
    font-family: 'DMSans';
    font-weight: 400;
    font-size: 16px;
    color: #7B88A8;
    padding-top: 5px;
    opacity: 0.8;
}

.item_ac_pd h4{
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 18px;
    color: #2D3958;
    padding-top: 20px;
} */

/* .item_ac_pd p.text_bx{
    font-family: 'DMSans';
    font-weight: 400;
    font-size: 18px;
    color: #7B88A8;
    padding-top: 25px;
    opacity: 0.8;
}

.slide_bd_project{
    max-width: 1170px;
    margin: auto;
    margin-top: 120px;
    height: auto;
}

.txt_ctn_container{
    max-width: 1170px;
    justify-items: center;
    margin: 0 auto;
}

.slide_project_container h2{
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 48px;
    color: #2D3958;
    letter-spacing: -2px;
} */



.teamlate_text_img_all{
    max-width: 100%;
    height: auto;
    margin-top: 215px;
}

.teamlate_text_img_all h2{
    font-family: 'Outfit';
    font-weight: 500;
    max-width: 970px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    font-size: 48px;
    color: #2D3958;
    letter-spacing: -2px;
}

.item_text_teamlate_ctn{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 90px;
}

.item_tlt_flex{
    display: flex;
}

.item_tlt_flex .teamlate_col_md_3{
    width: 66%;
    height: 556px;
}

.flex_item_img_txt{
    display: flex;
}

.flex_item_img_txt .tl_item_txt1{
    width: 100%;
    height: 556px;
    padding: 0 10px;
}

.item_tlt_flex .teamlate_col_md_4{
    width: 34%;
    height: 556px;
}

.flex_item_img_txt .tl_item_txt2{
    width: 50%;
}

.tl_item_txt1 img{
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;
}

.tl_item_txt img{
    width: 100px;
    height: 100px;
}

.tl_item_txt{
    display: flex;
    padding: 0px 10px;
    margin-bottom: 68px;
}

.tl_item_txt1 .center_img{
    text-align: center;
}

.txt_teamlate h3{
    font-family: 'Outfit';
    font-weight: 400;
    max-width: 370px;
    height: 64px;
    line-height: 32px;
    font-size: 22px;
    color: #2D3958;
  	display: -webkit-box;
  	-webkit-line-clamp: 2;
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: ellipsis;
    padding-top: 20px;
    letter-spacing: -1px;
}

.txt_teamlate p{
    font-family: 'DMSans';
    font-weight: 400;
    max-width: 364px;
    height: 76px;
    line-height: 28px;
    font-size: 18px;
    color: #7B88A8;
    padding-top: 30px;
    letter-spacing: -0.3px;
  	display: -webkit-box;
  	-webkit-line-clamp: 3;
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: ellipsis;
    letter-spacing: -0.3px;
}

.flex_icon_date{
    font-family: 'DMSans';
    font-weight: 400;
    display: flex;
    padding-top: 22px;
}

.flex_date_icon{
    display: flex;
    padding-right: 20px;
}

.flex_icon_date .date_icon{
    color: #7B88A8;
    letter-spacing: -0.3px;
}

.icon_date img{
    width: 18px;
    height: 18px;
    padding-right: 10px;
}

.txt_temlate_item_1 h3{
    font-family: 'Outfit';
    font-weight: 400;
    height: 88px;
    line-height: 32px;
    font-size: 22px;
    color: #2D3958;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: -1px;
    padding-right: 10px;
}

.txt_temlate_item_2 img{
    padding-left: 10px;
}

.foodter_all{
    max-width: 100%;
    height: auto;
    background: #292F3A;
    margin-top: 120px;
}

.foodter_container{
    max-width: 1170px;
    margin: auto;
}

.footer_flex{
    display: flex;
    padding: 100px 0;
    border-bottom: 1px solid #7B88A8;
}

.footer_logo{
    width: 20%;
    display: flex;
}

.footer_logo img{
    max-width: 169px;
}

.footer_logo span{
    color: #fff;
    font-size: 24px;
    line-height: 88px;
    padding: 0 10px;
    letter-spacing: -0.4px;
}

.footer_menu{
    width: 50%;
}

.ft_menu_flex{
    display: flex;
    width: 100%;
}

.ft_menu_flex li{
    width: 100%;
}

.ft_menu_flex li a{
    color: #fff;
    text-decoration: none;
}

.ft_menu_flex h3{
    font-family: 'Outfit';
    font-weight: 400;
    max-width: 170px;
    height: 32px;
    line-height: 32px;
    font-size: 22px;
    letter-spacing: -1;
    color: #fff;
}

.ft_menu_flex p{
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #E7E5EA;
    margin-top: 20px;
}


.footer_submit{
    width: 30%;
}

.footer_submit h3{
    font-family: 'Outfit';
    font-weight: 400;
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 22px;
    letter-spacing: -1px;
    color: #fff;
}

p.txt_footer{
    font-family: 'DMSans';
    font-weight: 400;
    width: 100%;
    line-height: 26px;
    font-size: 16px;
    color: #E7E5EA;
    margin-top: 20px;
}

p.txt_footers{
    font-family: 'DMSans';
    font-weight: 400;
    width: 100%;
    line-height: 26px;
    font-size: 14px;
    color: #E7E5EA;
    margin-top: 15px;
}

.form_pt_sb{
    margin-top: 25px;
}

.flex_pt_ip_submit{
    display: flex;
}

.flex_pt_ip_submit input{
    font-family: 'DMSans';
    font-weight: 400;
    width: 60%;
    margin-right: 6px;
    padding: 11px 18px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    background-color: #E7E5EA;
}

.flex_pt_ip_submit input::placeholder{
    color: #7B88A8;
}

.flex_pt_ip_submit button{
    font-family: 'Outfit';
    font-weight: 500;
    width: 40%;
    height: 48px;
    background-color: #4F77FF;
    color: #fff;
    letter-spacing: -0.3px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.flex_pt_ip_submit button:hover{
    background-color: #2c5cfa;
}

.footer_mxh{
    display: flex;
}

.footer_text{
    width: 88%;
}

.footer_text p{
    font-family: 'DMSans';
    font-weight: 400;
    width: 100%;
    font-size: 16px;
    color: #E7E5EA;
    padding: 25px 0;
    cursor: pointer;
}

.fb_in_ch_pooter{
    width: 16%;
    height: 72px;
    display: flex;
    padding: 0 10px;
}

.fb_in_ch_pooter .facebook{
    padding-right: 10px;
}

.fb_in_ch_pooter .twitter{
    padding-right: 10px;
}

.fb_in_ch_pooter img{
    margin: 10px 0;
}


/* Slide section-3 */
.sld_container_item{
    max-width: 1170px;
    justify-items: center;
    margin: 0 auto;
}

.slide_project_flex{
    margin: 0 -20px;
    background-color: #ccc;
}

.im_col_md_4{
    margin: 0 10px;
}

.sl_item_text img{
    width: 100%;
}

.sl_item_text{
    position: relative;
}

.apslu_text_sl{
    position: absolute;
    top: 50px;
}

.apslu_text_sl{
    width: 370px;
    text-align: center;
}

.apslu_text_sl h3{
    font-family: 'Outfit';
    font-weight: 400;
    max-width: 191px;
    margin: auto;
    font-size: 22px;
    color: #fff;
    letter-spacing: -1px;
}

.apslu_text_sl p{
    font-family: 'DMSans';
    font-weight: 400;
    max-width: 300px;
    margin: auto;
    font-size: 18px;
    letter-spacing: -0.3px;
    color: #E7E5EA;
    padding-top: 20px;
    letter-spacing: -0.3px;
}

.sld_container_item{
    margin-top: 56px;
}

.slide_project_flex{
    margin: 20px 0;
    background-color: #fff;
}

.slide_project_flex .prev-arrow,
.slide_project_flex .next-arrow {
    position: absolute;
    top: -60px;
    cursor: pointer;
    margin-right: 16px;
}

.prev-arrow,.next-arrow{
    width: 56px;
    height: 40px;
    background-image: url(../img/icon_slide/Right.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.prev-arrow{
    right: 68px;
    transform: rotate(180deg);
}

.next-arrow{
    right: 0px;
}

.slick-disabled{
    background-image: url(../img/icon_slide/Left.png);
}
/* slide-section-3 */

.txt_temlate_item_2{
    margin-left: auto;
}

.slide_project_flex .prev-arrow, .slide_project_flex .next-arrow{
    top: -106px;
}

.search_tablet {
    display: none;
}

/* Tablet: 1024px */
@media only screen and (max-width:1024px) {
    a{
        text-decoration: none;
    }
    .header_container{
        width: 100%;
        padding: 16px 10px;
        box-sizing: border-box;
    }

    .txt_header p{
        font-size: 12px;
    }

    .menu_fl, .menu_fl2, .btn_singup{
        display: none;
    }

    .menu_fl2{
        position: absolute;
        background-color: #292F3A;
        width: 150px;
        height: 286px;
        z-index: 1;
    }

    .txt_header{
        position: relative;
    }
    .menu_fl2 li{
        padding: 10px;
        border-bottom: 1px solid #888;
    }

    .menu_fl2 li a{
        color: #fff;
        width: 100%;
    }

    .ip_search{
        height: 314px;
        background-color: #292F3A;
        margin: auto;
        position: absolute;
        z-index: 1;
        right: 10px;
        display: none;
        top: 86px;
    }

    .search_tablet{
        display: block;
        margin: 0 10px;
    }

    .ip_search input{
        background-color: #292F3A;
        border-bottom: 1px solid #fff;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 16px;
        margin: 132px 0;
        margin-right: 5px;
        color: #fff;
        outline: none;
    }

    .ip_search input::placeholder{
        color: #fff;
    }

    .search_tablet button{
        padding: 6px;
        border-radius: 4px;
        background-color: #2c5cfa;
    }

    .fa-magnifying-glass:before, .fa-search:before{
        padding: 6px;
        color: #fff;
    }

    .w_all_container{
        padding: 0;
    }

    .icon_menu_header #toggle{
        width: 100%;
        display: block;
    }

    .none_menu_hd{
        display: inline-block;
    }

    .icon_menu_header #toggle .fas{
        line-height: 70px;
        font-size: 30px;
        padding: 0 10px;
        color: #888888f2;
    }

    .text_body{
        padding: 0;
        margin-top: 0;
    }

    .text_body h2{
        font-size: 40px;
    }

    .text_body{
        padding-bottom: 60px;
    }
    .bgr_img_header{
        height: 400px;
    }
    
    .btn_ld_submit button{
        padding: 16px;
    }
    .lg_header{
        padding-left: 10px;
    }
    .product_container{
        margin-top: 20px;
    }
    .teamlate_text_img_all h2{
        padding: 0;
        font-size: 40px;
    }

    .item_text_teamlate_ctn{
        padding: 0;
        box-sizing: border-box;
        margin: 0 auto;
    }
    .foodter_container{
        padding: 0;
    }

    .text_body{
        padding: 20px;
        box-sizing: border-box;
    }
    .item_bd_product_all{
        padding-top: 0;
    }
    .item_bd_product_all h2{
        font-size: 40px;
    }
    .slide_project_container h2{
        font-size: 40px;
    }

    .slide_project_flex .prev-arrow, .slide_project_flex .next-arrow{
        top: -80px;
    }

    .txt_sl_all{
        height: auto;
    }

    .teamlate_text_img_all h2{
        padding-top: 0;
    }

    .teamlate_text_img_all .teamlate_text_img_all{
        padding: 0;
    }

    .item_tlt_flex{
        flex-wrap: wrap;
    }

    .item_tlt_flex .teamlate_col_md_3{
        width: 100%;
        margin: auto;
        padding: 20px 0;
    }

    .item_tlt_flex .teamlate_col_md_4{
        width: 100%;
        margin: 0 auto;
        padding: 20px 0;
        border-top: 1px solid #88888852;
    }

    .teamlate_text_img_all h2{
        font-size: 40px;
    }

    .txt_temlate_item_1 h3{
        height: 60px;
    }

    .flex_icon_date{
        margin-top: 18px;
    }
    .tl_item_txt{
        margin-bottom: 0;
        padding: 20px 10px;
        border-bottom: 1px solid #88888852;
        box-sizing: border-box;
    }

    .foodter_container{
        padding: 0 10px;
    }

    .footer_mxh{
        flex-wrap: wrap;
    }

    .footer_text{
        width: 100%;
    }

    .fb_in_ch_pooter{
        width: 100%;
    }

    .ip_search_pc{
        display: none;
    }

    .car_pc{
        top: 70px;
        left: -148px;
    }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 768px){
    .menu_fl{
        display: none;
    }
    .menu_header #toggle{
        display: block;
    }

    .txt_header{
        font-size: 40px;
    }

    .txt_header h1{
        font-size: 40px;
    }

    .text_body h2{
        font-size: 30px;
    }

    .btn_ld_submit button{
        padding: 15px;
    }

    .slide-arrow{
        display: none;
    }
    
    .teamlate_text_img_all h2{
        padding: 0;
    }

    .btn_ld_submit{
        padding: 20px;
    }

    .txt_sl_all{
        padding: 20px 0;
    }

    .slide_fxsc{
        flex-wrap: wrap;
        justify-content: center;
    }

    .item_acoutn{
        width: 45.333%;
    }

    .slide_fxsc{
        padding-top: 20px;
    }

    .apslu_text_sl{
        width: 100%;
    }
    .slide_project_container h2{
        font-size: 30px;
    }

    .tl_item_txt{
        box-sizing: border-box;
    }

    .teamlate_text_img_all h2{
        font-size: 30px;
    }

    .item_bd_product_all h2{
        font-size: 30px;
    }

    .item_bd_product_all p{
        font-size: 16px;
    }

    .item_ac_pd h3{
        font-size: 20px;
    }

    .txt_teamlate h3{
        font-size: 20px;
    }

    .txt_temlate_item_1 h3{
        font-size: 20px;
    }

    .ft_menu_flex h3{
        font-size: 18px;
    }

    .footer_submit h3{
        font-size: 18px;
    }
    
    .ft_menu_flex p{
        font-size: 16px;
    }

    .apslu_text_sl h3{
        font-size: 20px;
    }

    .apslu_text_sl p{
        font-size: 16px;
    }

    .footer_flex{
        flex-wrap: wrap;
    }

    .footer_logo{
        width: 30%;
    }

    .footer_menu{
        width: 70%;
    }

    .footer_submit{
        width: 100%;
        padding-top: 20px;
    }
}


@media only screen and (max-width: 528px){
    .footer_logo{
        width: 100%;
        padding-bottom: 20px;
    }

    .footer_logo img{
        width: 40px;
    }

    .footer_logo span{
        font-size: 20px;
        line-height: 55px;
    }

    .footer_menu{
        width: 100%;
    }

    .tl_item_txt img{
        object-fit: cover;
    }

    .fb_in_ch_pooter{
        padding: 0;
    }

    .flex_date_icon{
        flex: 1;
    }

    .flex_item_img_txt{
        flex-wrap: wrap;
    }

    .tl_item_txt1{
        margin: 10px 0;
    }

    .txt_teamlate p{
        height: 66px;
        margin-top: 10px;
    }
}