@font-face {
    font-family: 'Outfit';
    src: url('../font/Outfit-Medium.eot');
    src: url('../font/Outfit-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Outfit-Medium.woff2') format('woff2'),
        url('../font/Outfit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../font/Outfit-Regular.eot');
    src: url('../font/Outfit-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Outfit-Regular.woff2') format('woff2'),
        url('../font/Outfit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../font/Outfit-SemiBold.eot');
    src: url('../font/Outfit-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Outfit-SemiBold.woff2') format('woff2'),
        url('../font/Outfit-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    src: url('../font/DMSans-Regular.eot');
    src: url('../font/DMSans-Regular.ttf') format('embedded-opentype'),
        url('../font/DMSans-Regular.woff2') format('woff2'),
        url('../font/DMSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body, button{
    font-family: Outfit;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

#wrap{
    max-width: 100%;
    height: auto;
}

.bgr_image{
    width: 100%;
    height: 500px;
    background-image: url(../img/image/section_1/hero_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container{
    max-width: 1180px;
    margin: auto;
}

/* HEADER */
#header{
    width: 100%;
    height: 500px;
    padding: 0 5px;
    box-sizing: border-box;
    position: relative;
}

.header_all{
    display: flex;
    height: 48px;
    padding-top: 16px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header_logo_link{
    display: block;
    height: 48px;
}

.lg_header{
    width: 176px;
    height: 48px;
}

.lg_header img{
    display: block;
    width: 100%;
    height: 100%;
}

.header_menu{
    display: flex;
    margin-left: 52px;
}

.header_menu_fl{
    width: 100%;
    display: flex;
    align-items: center;
}

.header_menu ul li{
    position: relative;
}

.header_menu_fl li a{
    font-family: 'Outfit';
    font-weight: 500;
    text-decoration: none;
    display: block;
    color: #7B88A8;
    padding: 14px 15px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: -0.3px;
}

.header_menu_fl li a:hover{
    color: #2D3958;
}

.menu_item.active a{
    color: #2D3958;
}

.menu_item.active::after{
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: #34C635;
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
}

.header_icon_menu{
    display: flex;
}

.header_flex_icon{
    display: flex;
    align-items: center;
}

.img_icon img{
    width: 24px;
    height: 24px;
    font-size: 0;
    margin-right: 26px;
    cursor: pointer;
}

.toggle_car{
    position: relative;
}

.toggle_car::after{
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: red;
    position: absolute;
    top: 1px;
    left: 14px;
}

.sigup_link{
    font-family: 'Outfit';
    font-weight: 500;
    width: 129px;
    height: 48px;
    font-size: 14px;
    background-color: #4F77FF;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    letter-spacing: -0.3px;
    text-transform: uppercase;
}

.sigup_link:hover{
    background-color: #2c5cfa;
}

/* HEADER */

/* TITLE HEADER */
.txt_header{
    max-width: 870px;
    margin: auto;
    height: 94px;
    text-align: center;
    margin-top: 139px;
}


.txt_header h1{
    font-family: 'Outfit';
    font-weight: 500;
    width: 100%;
    height: 46px;
    line-height: 56px;
    font-size: 48px;
    color: #2D3958;
    letter-spacing: -2px;
}

.breadcrumbs{
    margin-top: 30px;
    width: 100%;
    height: 18px;
    font-size: 0;
    font-family: 'Outfit';
    font-weight: 500;
}

.breadcrumbs .breadcrumb_item{
    display: inline-block;
    position: relative;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    color: #7B88A8;
    text-transform: uppercase;
    letter-spacing: -0.3px;
}

.breadcrumbs .breadcrumb_item+.breadcrumb_item{
    margin-left: 16px;
}

.breadcrumbs .breadcrumb_item+.breadcrumb_item::before{
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    content: '/';
}

.breadcrumbs .breadcrumb_item .breadcrumb_link{
    color: #2D3958;
}
/* TITTLE HEADER */

/* IMAGE PRODUCT */
.text_body{
    max-width: 970px;
    margin: auto;
    text-align: center;
    margin-top: 120px;
    animation: animation 1s forwards;
    animation-delay: 1s;
}

.text_body h2{
    font-family: 'Outfit';
    font-weight: 500;
    width: 100%;
    height: 61px;
    line-height: 72px;
    font-size: 64px;
    color: #2D3958;
    letter-spacing: -2px;
}

.product_container{
    max-width: 100%;
    margin-top: 90px;
    padding: 0 30px;
}

.img1_col_md3,.img2_col_md4,.img1_col_md5{
    width: 600px;
}

.img2_col_md3,.img1_col_md4,.img2_col_md5{
    width: 600px;
    height: 400px;
}

.img1_col_md3,.img1_col_md5{
    max-height: 600px;
}

.imgs_bd_product{
    width: 100%;
    display: flex;
}

.col_md3 .img1_col_md3 img,.col_md4 .img2_col_md4 img,.col_md5 .img1_col_md5 img{
    width: 100%;
    height: 100%;
}

.col_md3 .img2_col_md3 img,.col_md4 .img1_col_md4 img,.col_md5 .img2_col_md5 img{
    width: 100%;
    height: 100%;
}

.col_md4,.col_md5{
    padding-left: 30px;
}

.img2_col_md3,.img2_col_md4,.img2_col_md5{
    padding-top: 30px;
}
/* IMAGE PRODUCT */

/* BUTTON LOAD MORE */
.btn_ld_submit{
    max-width: 148px;
    height: 56px;
    margin: auto;
    text-align: center;
    margin-top: 66px;
}

.btn_ld_submit a{
    font-family: 'Outfit';
    font-weight: 500;
    background-color: #E7E5EA;
    color: #7B88A8;
    line-height: 56px;
    font-size: 15px;
    padding: 18px 32px;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: -0.3px;
    cursor: pointer;
}

.btn_ld_submit a:hover{
    background-color: rgb(223, 218, 218);
    color: #000;
}
/* BUTTON LOAD MORE */

/* SLIDE USER */
.accoutn_all{
    max-width: 100%;
    height: 781px;
    background-color: #F8FAFC;
}

.item_bd_product_all{
    max-width: 870px;
    margin: auto;
    text-align: center;
    margin-top: 240px;
}

.item_bd_product_all h2{
    font-family: 'Outfit';
    font-weight: 500;
    width: 100%;
    height: 56px;
    font-size: 48px;
    color: #2D3958;
    letter-spacing: -2px;
}

.item_bd_product_all p{
    font-family: 'Outfit';
    font-weight: 400;
    width: 100%;
    height: 25px;
    color: #7B88A8;
    font-size: 22px;
    padding-top: 30px;
    letter-spacing: -1px;
}

.slide_ac_all{
    max-width: 100%;
}

.slider_ac_container{
    max-width: 1170px;
    justify-items: center;
    margin: 0 auto;
}

.slide_fxsc{
    display: flex;
    margin-top: 80px;
}

.item_acoutn{
    width: 33.3%;
    text-align: center;
    margin-left: 30px;
}

.item_acoutn:nth-child(1) {
   margin: 0;
}

.item_acoutn img{
    width: 30%;
    border-radius: 70px;
}

.item_ac_pd{
    width: 370px;
    height: 350px;
    /* padding: 45px 35px; */
    background: #fff;
    box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
    border-radius: 20px;
}

.item_ac_pd h3{
    font-family: 'Outfit';
    font-weight: 400;
    text-align: center;
    font-size: 22px;
    color: #2D3958;
    letter-spacing: -1px;
}

.item_ac_pd p.tx_bran{
    font-family: 'DMSans';
    font-weight: 400;
    font-size: 16px;
    color: #7B88A8;
    padding-top: 5px;
    opacity: 0.8;
}

.item_ac_pd h4{
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 18px;
    color: #2D3958;
    padding-top: 20px;
}

.item_ac_pd p.text_bx{
    font-family: 'DMSans';
    font-weight: 400;
    font-size: 18px;
    color: #7B88A8;
    padding-top: 25px;
    opacity: 0.8;
}

.slide_bd_project{
    max-width: 1170px;
    margin: auto;
    margin-top: 120px;
    height: auto;
}

/* .txt_ctn_container{
    max-width: 1170px;
    justify-items: center;
    margin: 0 auto;
}

.slide_project_container h2{
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 48px;
    color: #2D3958;
    letter-spacing: -2px;
} */
/* SLIDE USER */